<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div *ngIf="dataRetrieved; else noDataRetrieved">
  <ul>
    <li *ngFor="let recordLabel of recordLabels">
      {{recordLabel.name}}
      <ul>
        <li *ngFor="let band of recordLabel.bands">
          {{band.name}}
          <ul>
            <li *ngFor="let festival of band.festivals">
              {{festival}}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<ng-template #noDataRetrieved>
  No data is retrieved. Please try again.
</ng-template>